/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body,
html {
  margin: 0;
  
  /* height: 100%;  Removed to hide the lateral scrollbar */
  width: 100vw;
  overflow-x: hidden; /* fix for right sliding menu */
  
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}






header{
max-width:50em;
margin: 0 auto; 
padding: 20px 
}
article{ 
max-width:50em;
margin: 0 auto;
padding: 20px 
}

article img{ 
  max-width:100%;
}

figure{ margin: 0; padding: 0;}